<section class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h4>Info</h4>
        <ul class="links">
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/agreement">Customer Agreement</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          
        </ul>
      </div>
      
      <div class="footer-col">
        <h4>Newsletter</h4>
        <p>
          Subscribe to our newsletter for a weekly dose
          of news, updates, helpful tips, and
          exclusive offers.
        </p>
        <div class="news-letter">
          <input type="text" placeholder="Your email" required>
          <input type="button" id="sub" value="SUBSCRIBE" onclick="this.value='Done'">
        </div>
        
        <div class="icons">
          <a href="https://www.instagram.com/abhijeetrajput13/?igsh=NGVhN2U2NjQ0Yg%3D%3D" target="_blan"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/abhijeet-rajput-3521b4252/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/Abhijeet1326/News-Website.git" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>
  </section>