<nav>
  

  <div class="nav-container">
    
    <div class="logo">
      <a href="/" style="text-decoration: none;"><h3>News Pulse</h3></a>
    </div>
    <input type="checkbox" id="check">
    <label for="check" class="bars"><span  class="hamburger-menu  material-symbols-outlined nav-span">menu</span></label>
    <label for="check" class="cross"><span class="material-symbols-outlined nav-span">close</span></label>
    <div class="resp">
    <div class="cate-icons">
      <a href="/news/business">Business</a>
      
      <a href="/news/entertainment">Entertain</a>
      <a href="/news/general">General</a>
      <a href="/news/health">Health</a>
      <a href="/news/technology">Technology</a>
      <a href="/news/sports">Sports</a>
      <a href="/news/science">Science</a>
    </div>

    <div class="sub-button">
      <button>Login/SignUp</button>
    </div>
  </div>
  </div>
</nav>