<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>SignUp</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="ret">
        <a href="/"><i class="fa-solid fa-house-chimney"></i></a>
     </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/signup" method="post">
        <h4><%= mess %></h1>
        <h3>Login Here</h3>
        
        <label for="password">EMAIL</label>
        <input type="email" placeholder="Email" id="mail" name="email" minlength="4" maxlength="130" required>

        <label for="username">Phone Number</label>
        <input type="tel" placeholder="Phone" id="phone" name="phone" minlength="10" maxlength="13" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" minlength="8" maxlength="13" required>

        <button type="submit">Sign Up</button>
        
        <div class="signup">
            <a href="/login">Login?</a>
        </div>
    </form>
</body>
</html>
